---
import FormattedDate from "../../components/FormattedDate.astro";
import Breadcrumb from "../../components/Breadcrumb.astro"
import Layout from "../../layouts/Layout.astro";
import { Image, getImage } from 'astro:assets';
import bgcover from '../../assets/cover.webp'
import { getCollection } from "astro:content";

const cover = await getImage({ src: bgcover })

const posts = (await getCollection("profile"))
  .sort((a, b) => b.data.pubdate.valueOf() - a.data.pubdate.valueOf())
  .slice(0, 3)

const { title= "Profil Sekolah" } = Astro.props;
const breadcrumbItems = [
  { label: "Home", href: "/" },
  { label: "Profile", href: "/profile" },
]
---


<Layout title="Profil Sekolah">
	<section class="relative w-full bg-cover bg-center bg-fixed before:content-[''] before:absolute before:w-full before:h-full before:bg-black before:opacity-50" style={`background-image: url(${cover.src});`}>
		<div class="container relative mx-auto">
			<div class="flex flex-col justify-center items-center h-96">
				<h1 class="font-bold text-white text-center text-2xl mb-3 md:text-4xl">{title}</h1>
				<Breadcrumb items={breadcrumbItems} />
			</div>
		</div>
	</section>
	<section>
	<div class="container py-12 mx-auto relative grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
		{
			posts.map((post) => (
          <div class="bg-white text-green-700 text-primary p-4 shadow rounded-sm">
            <div class="relative overflow-hidden rounded-t-sm">
              <a href={`/profile/${post.id}/`}>
                {post.data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                    class="object-center object-cover aspect-video rounded-t-sm hover:scale-125 transition-all ease-linear duration-300"
                  />
                )}
              </a>
              <p class="absolute bottom-0 left-0 bg-green-700 text-white text-sm font-bold p-2 rounded-tr-sm">
                <FormattedDate date={post.data.pubdate} />
              </p>
            </div>
              <a href={`/profile/${post.id}/`}>
              <h4 class="font-bold my-2 text-sm">{post.data.title}</h4>
              </a>
              <p class="flex items-center gap-1 mt-2"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></g></svg>{post.data.author}</p>
          </div>
        ))
		}
	</div>
</section>

</Layout>