---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import FormattedDate from './FormattedDate.astro';
import { Image } from "astro:assets";
function excerpt(text, limit) {
return text.slice(0, limit)
}

const posts = (await getCollection("achievements"))
  .sort((a, b) => b.data.pubdate.valueOf() - a.data.pubdate.valueOf())
  .slice(0, 4)
---

<section class="text-green-900 bg-white py-8">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center">Prestasi Terbaru</h2>
    <div class="relative mt-8 space-y-4 grid grid-cols-1 md:grid-cols-2 gap-4">
      {
        posts.map((post) => (
          <div class="bg-white text-green-800 text-primary flex flex-col md:flex-row gap-6 p-4 shadow rounded-sm">
            <div class="relative overflow-hidden rounded-sm hover:rounded-sm ">
              <a href={`/achievements/${post.id}/`}>
                {post.data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                    class="object-center object-cover aspect-video overflow-hidden w-full rounded-sm hover:rounded-sm hover:scale-125 transition-all ease-linear duration-300"
                  />
                )}
              </a>
            </div>
              <div class="space-y-3">
                <a href={`/achievements/${post.id}/`}>
              <h4 class="text-xl lg:text-2xl font-bold">{post.data.title}</h4>
              </a>
              <p class=" text-gray-800">{excerpt(post.data.description, 150)}...</p>
              <div class="flex gap-3">
              <p class="flex gap-1"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></g></svg>{post.data.author}</p>
                <p class="font-bold"><FormattedDate date={post.data.pubdate} /></p>
              </div>
              </div>
          </div>
        ))
		  }
    </div>
    <a href="/achievements" class="bg-green-800 text-white text-center w-max px-4 py-2 mx-auto block mt-6">Tampilkan Semua Prestasi <strong>>></strong></a>
  </div>
</section>
