---
import FormattedDate from './FormattedDate.astro';
import { Image, getImage } from 'astro:assets';
import kepsek from '../../src/assets/kepsek.webp'
import poster from '../../src/assets/poster.webp'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
function excerpt(text, limit) {
return text.slice(0, limit)
}

const posts = (await getCollection("announcements"))
  .sort((a, b) => b.data.pubdate.valueOf() - a.data.pubdate.valueOf())
  .slice(0, 3)

---
<section>
  <div class="container mx-auto px-4 py-8 grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="bg-white shadow rounded-md">
    <Image src={poster} alt="poster" class="rounded-md aspect-4/5 object-cover object-top" />
  </div>
  <div class="p-2 shadow relative">
    <h2 class="text-xl text-white bg-green-800 font-bold rounded-md p-3">Pengumuman</h2>
    {
        posts.map((post) => (
          <div class="bg-white text-green-800 text-primary p-2 shadow rounded-sm flex gap-2 mt-3">
            <div class="w-20 h-20 shrink-0 overflow-hidden rounded-md">
              <a href={`/announcements/${post.id}/`} aria-label="announcements" >  
                {post.data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt={post.data.title}
                    class="w-full h-full object-cover"
                  />
                )}
              </a>
            </div>
              <div class="flex flex-col"> 
                <p class="text-green-800 text-sm font-bold"> <FormattedDate date={post.data.pubdate} /> </p> 
                <h3 class="font-bold my-2 text-sm"> <a href={`/announcements/${post.id}/`} aria-label="announcements"> {post.data.title} </a> </h3> 
              </div>
          </div>
        ))
		  }
    <p class="my-5 text-right">
      <a href="/announcements" aria-label="announcements" class="underline text-green-800">Read More </a>
    </p>
  </div>
  <div class="bg-white p-4 shadow">
    <h2 class="text-xl font-bold mb-3">Sambutan Kepala Sekolah</h2>
    <div class="relative overflow-hidden rounded-md ">
      <Image src={kepsek} alt="kepsek" class="rounded-md aspect-video object-cover object-top hover:scale-125 transition-all ease-linear duration-300" />
    </div>
    <div class="italic space-y-2 text-sm">
      <p class="text-base">Bismillahirrohmanirrahim </p>
      <p>Assalamu‘alaikum Wr. Wb.</p>
      <p>Segala puji hanya untuk Allah SWT dan shalawat serta salam semoga tercurah atas nabi yang terakhir, yaitu nabi kita Muhammad SAW, begitu pula atas keluarga,… <a href="/profile/sambutan-kepsek" aria-label="announcements" class="font-bold text-green-800">Read More </a></p>
    </div>
  </div>
  </div>
</section>