---
interface Props {
    title: string;
    description: string;
    date: string;
    img: string;
    author: string;
};
const { title, description, date, img, author } = Astro.props as Props;
---

<div class="bg-white text-primary p-4 shadow">
    <img src={img} alt={title} class="w-full h-48 object-cover" />
    <p class="text-sm">{date}</p>
    <h3 class="font-bold">{title}</h3>
    <p class="text-sm">{description}</p>
    <p class="text-sm">{author}</p>
    <a href="#" class="text-secondary">Read More</a>
</div>
