---
import { Image, getImage } from "astro:assets";
import { getCollection } from "astro:content";

const collectionNames = ["news", "announcements", "achievements"];

const allEntries = (
    await Promise.all(collectionNames.map((name) => getCollection(name)))
).flat();

function excerpt(text, limit) {
  return text.slice(0, limit)
}



const recentPosts = allEntries
    .filter((post) => post.data.pubdate)
    .sort((a, b) => b.data.pubdate.valueOf() - a.data.pubdate.valueOf())
    .slice(0, 5);
---

<div class="space-y-3">
    {
        recentPosts.map((post) => {
            const href = `/${post.collection}/${post.id}/`;
            return (
                <div class="flex gap-2 shadow p-2 rounded-md">
                    <div class="w-20 h-20 shrink-0 overflow-hidden rounded-md">
                    <a href={href}>
                        {post.data.heroImage && (
                            <Image
                                width={720}
                                height={360}
                                src={post.data.heroImage}
                                alt={post.data.title}
                                class="w-full h-full object-cover"
                            />
                        )}
                    </a>
                </div>
                <div class="">
                    <p class="text-xs text-gray-500">
                    {post.data.pubdate.toLocaleDateString()}
                </p>
                <a href={href} class="block">
                    <h3 class="text-sm text-green-800 font-semibold">{excerpt(post.data.title, 50)}...</h3>
                </a>
                </div>
                </div>
            );
        })
    }
</div>
